#advantages {
  height: 100px;
  background-color: #2C2C39;
}
#advantages .advantages-wrapper {
  height: 100%;
  max-width: 1400px;
  margin: 0px auto;
  justify-content: center;
}

.fa-medal {
  padding-right: 20px;
  width: 100%;
  height: 50%;
  font-size: 40px;
  border-radius: 50%;
}

.advantage-single {
  align-items: center;
  padding: 50px 50px 50px 0px;
}

.advantage-single-info h5 {
  font-size: 14px;
  color: rgb(165, 165, 165);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.advantage-single-info p {
  font-size: 13px;
  color: rgb(118, 114, 114);
}

.footer-advantage-single {
  padding-top: 20px;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  #advantages {
    height: 200px;
  }
  .advantage-single {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 759px) {
  #advantages {
    height: 200px;
  }
  .advantage-single {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 20px;
  }
  .advatantages-wrap {
    flex-wrap: wrap;
  }
}
#all-categories {
  background-color: #2C2C39;
  height: 480px;
}

.nonwrap-row-all-cats {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.all-categories-wrapper {
  margin: 0px auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 1300px;
}

.category-kinds {
  background-color: #3b3b43;
  padding: 15px;
  height: 100%;
}

.category-kinds-header h4 {
  font-weight: 700;
  font-size: 14px;
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
  white-space: normal;
  text-align: left;
}

.category-kinds-list-li {
  list-style: none;
  justify-content: space-between;
  padding-top: 10px;
}

.category-kinds-link {
  text-decoration: none;
}

.fa-circle-plus {
  color: rgb(165, 165, 165);
}

.all-categories-header {
  padding-bottom: 5px;
  border-bottom: 0.2px solid rgba(118, 114, 114, 0.1960784314);
  justify-content: space-between;
}

.all-categories-card-section {
  padding: 15px;
}

.all-categories-header-h4 {
  padding-right: 10px;
  font-size: 14px;
  color: rgb(165, 165, 165);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.all-categories-header-action-h4 {
  padding-right: 10px;
  font-size: 14px;
  color: rgb(165, 165, 165);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.all-categories-header-card {
  height: 380px;
  background-color: #3b3b43;
  margin-right: 10px;
  padding: 10px;
}
.all-categories-header-card:hover {
  background-color: #1b1b1b;
}

.all-categories-header-card-image {
  height: 232px;
  width: 100%;
}
.all-categories-header-card-image img {
  width: 100%;
  height: 100%;
}

.all-categories-header-card-section {
  margin-top: 10px;
  width: 100%;
}

.card-info-title {
  margin-top: 10px;
}
.card-info-title a {
  color: rgb(113, 155, 252);
  text-decoration: none;
}
.card-info-title a:hover {
  color: white;
}

.categories-card-stats {
  margin-top: 10px;
  padding: 5px;
  background-color: #2C2C39;
  justify-content: space-between;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .ds-none-md-res {
    display: none;
  }
  .col-cat-md-6 {
    width: 50%;
  }
}
@media screen and (min-width: 280px) and (max-width: 759px) {
  .col-cat-sm-12 {
    width: 100%;
  }
  #all-categories {
    height: 900px;
  }
  .col-cat-md-6 {
    width: 50%;
  }
  .ds-none-md-res {
    display: none;
  }
  .sm-wrap {
    flex-wrap: wrap;
  }
}
#browse-our-catalog {
  height: 750px;
  padding-top: 50px;
  background-color: #141414;
}

.browse-our-catalog-card {
  background: rgb(59, 59, 67);
  padding: 15px;
  text-align: center;
}

.browse-our-catalog-card-img {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}
.browse-our-catalog-card-img img {
  width: 100%;
  height: 100%;
}

.browse-our-catalog-card ul {
  list-style: none;
}
.browse-our-catalog-card ul li {
  margin-top: 5px;
}

.browse-our-catalog-card-head {
  color: white;
}

.browse-our-catalog-card-links {
  text-decoration: none;
  padding-top: 5px;
}

.browse-our-catalog-wrapper {
  margin: 40px auto;
  justify-content: center;
}

.browse-our-catalog-card {
  width: 20%;
  margin: 0px 10px;
  max-width: 264px;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
  width: 20%;
  margin: 0px 10px;
}

.underline {
  text-decoration: underline;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .md-browse-card {
    display: none;
  }
  .col-2 {
    width: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 759px) {
  .sm-res-card {
    display: none;
  }
  .md-browse-card {
    display: none;
  }
  .col-2 {
    width: 50%;
  }
  .browse-our-catalog-card {
    max-width: unset;
  }
}
.clearance-deals-wrapper {
  width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.clearance-deals-head {
  width: 100%;
  justify-content: center;
}

#clearance-deals {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/sunshine-2000x1200.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  height: 700px;
}

.clearance-deals-card-out {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.clearance-deals-head {
  text-align: center;
}

.clearance-deals-head {
  font-size: 16px;
}

.clearance-deals-head span {
  font-size: 16px;
  color: rgb(165, 165, 165);
  line-height: 1.5;
}

.grey-span {
  font-weight: 400;
  font-size: 16px;
  color: rgb(165, 165, 165);
  line-height: 1.5;
}

.blue-span {
  font-weight: 400;
  font-size: 16px;
  color: #3B41C1;
  line-height: 1.5;
}

.blue-head {
  font-size: 25px;
  font-weight: 800;
}

.green-span {
  font-weight: 400;
  font-size: 16px;
  color: #32B858;
  line-height: 1.5;
}

.clearance-deals-head h3 {
  font-size: 32px;
  color: rgb(238, 238, 238);
  font-weight: 700;
}

.clearance-deals-card {
  margin-top: 30px;
  height: -moz-max-content;
  height: max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  background: rgb(59, 59, 67);
  padding: 10px;
  max-width: 690px;
}

.clearance-deals-card-image {
  width: 45ch;
  height: 30ch;
}
.clearance-deals-card-image img {
  width: 100%;
  height: 80%;
}

.clearance-card-stats span {
  padding-right: 1em;
}

.card-info-section {
  padding-left: 1em;
}

.card-info-section {
  padding-top: 10px;
}

.price {
  font-size: 20px;
}

.lined-span {
  text-decoration-line: line-through;
}

.tax-span {
  display: block;
  font-size: 12px;
  color: rgb(118, 114, 114);
}

.counter {
  background-color: rgb(118, 114, 114);
  width: 30px;
  height: 100%;
  min-height: 28px;
  border-radius: inherit !important;
  border-width: 0;
  text-align: center;
  font-size: 13px;
  transition: all 0.05s ease-out;
}

.add-card-btn {
  width: 150px;
  background-color: #3B41C1;
  border: none;
}

.card-action {
  margin: 10px 0px;
}

.fa-brands {
  padding-top: 3px;
  padding-right: 3px;
}

.fa-envelope {
  color: #782d0d;
  padding-right: 3px;
  padding-top: 4px;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .col-6 {
    width: 90%;
    left: 5%;
  }
}
@media screen and (min-width: 320px) and (max-width: 759px) {
  .clearance-deals-card-image {
    width: 100%;
    height: 100%;
  }
  .col-6 {
    width: 90%;
    left: 5%;
  }
  .clearance-deals-card-image img {
    width: 100%;
  }
  .non-active-col {
    flex-direction: column;
  }
  #clearance-deals {
    height: 900px;
  }
}
.footer-up-wrapper {
  padding-top: 30px;
  height: 100%;
  max-width: 1400px;
  margin: 0px auto;
  justify-content: space-between;
}

.footer-down-wrapper {
  justify-content: space-between;
}

footer {
  background-color: #1B1B1B;
  height: 450px;
}

.foter-ul-head {
  width: 100%;
}

.foter-ul-head h3 {
  font-weight: 700;
  font-size: 14px;
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  text-align: left;
}

.footer-ul {
  list-style: none;
}

.footer-li {
  cursor: pointer;
  color: #767272;
  margin-top: 10px;
}

.footer-down-wrapper {
  height: 100%;
  max-width: 1400px;
  margin: 0px auto;
  padding-top: 30px;
}

.brand-icon {
  font-size: 30px;
  margin-right: 10px;
}

.copyright {
  margin-top: 20px;
}

.footer-text {
  font-size: 12px;
}

.footer-hr {
  margin-top: 30px;
  border: 0.2px solid rgba(118, 114, 114, 0.1960784314);
  background-color: rgba(118, 114, 114, 0.0549019608);
}

.footer-input {
  width: 100%;
}

.footer-input input {
  width: 100%;
  height: 30px;
  background: rgb(74, 78, 90);
  border: none;
}

.footer-inpu-text {
  align-items: center;
  background-color: rgb(23, 52, 77);
  justify-content: center;
}

.footer-inpu-text span {
  color: white;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .footer-ul-section {
    width: 50%;
  }
  .footer-up-wrapper {
    padding-top: 30px;
    height: 100%;
    max-width: 1400px;
    margin: 0px auto;
    justify-content: space-between;
  }
  footer {
    background-color: #1B1B1B;
    height: 700px;
    padding: 0px 10px;
  }
  .footer-inpu-text span {
    display: block;
  }
}
@media screen and (min-width: 320px) and (max-width: 759px) {
  .footer-ul-section {
    width: 50%;
  }
  .footer-up-wrapper {
    padding-top: 30px;
    height: 100%;
    max-width: 1400px;
    margin: 0px auto;
    justify-content: space-between;
  }
  footer {
    background-color: #1B1B1B;
    height: 900px;
    padding: 0px 10px;
  }
  .nonwrap-row-footer {
    flex-wrap: nowrap;
  }
}
.free-shipping-wrapper {
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #1B1B1B;
  align-items: center;
}

.fa-truck {
  color: #2AB858;
}

.free-shipping-wrapper h3 {
  width: 100%;
  font-size: 14px;
  color: rgb(165, 165, 165);
  font-weight: 700;
  text-transform: uppercase;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nonwrap-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.nonwrap-column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 57%;
}

.col-5 {
  width: 40%;
}

.col-4 {
  width: 33%;
}

.col-2 {
  width: 16.66%;
}

.col-10 {
  width: 83.33%;
}

.col-8 {
  width: 66.66%;
}

.col-3 {
  width: 25%;
}

.d-flex {
  display: flex;
}

.col-9 {
  width: 75%;
}

.container-90 {
  width: 90%;
  margin: 0 auto;
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-85 {
  width: 85%;
  margin: 0 auto;
}

.title-devider {
  display: block;
  max-width: 50px;
  height: 1px;
  background: rgb(42, 184, 88);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.title-devider-left {
  display: block;
  max-width: 50px;
  height: 1px;
  background: rgb(42, 184, 88);
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  color: gray;
}

header {
  height: 80px;
}

.navbar {
  background-color: #2C2C39;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.search-section {
  height: 100%;
}

.categories {
  height: 100%;
  justify-content: center;
}

.nav-wrapper {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 1600px;
}

.burger {
  margin-left: 30px;
}

.burger .fa-solid {
  font-size: 35px;
  color: white;
}

.search-section {
  width: 100%;
}

.logo img {
  width: 100%;
}

.nav-input {
  width: 100%;
}

.nav-input input {
  width: 100%;
  height: 30px;
  background: rgb(74, 78, 90);
  border: none;
}

.user-nav {
  height: 100%;
}

.user-nav ul {
  width: 100%;
}

.user-nav-icon {
  font-size: 24px;
  color: rgb(165, 165, 165);
  padding-left: 4px;
  padding-right: 2px;
}

.user-nav {
  justify-content: space-around;
}

.nav-dropdown span {
  width: 100%;
  text-align: end;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.nav-search-icon {
  height: 100%;
  width: 40px;
  background-color: #228EFB;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.nav-search-icon .fa-magnifying-glass {
  display: flex;
  width: 100%;
  text-align: end;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.nav-dropdown {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  width: 40px;
  height: 100%;
  background-color: #228EFB;
}

.user-nav {
  list-style: none;
}

.icon-name {
  font-size: 10px;
  color: rgb(165, 165, 165);
  font-weight: 400;
  text-transform: none;
  position: absolute;
  top: 50%;
  left: 0%;
}

.icon-count {
  position: absolute;
  font-size: 15px;
  color: white;
  background-color: red;
  border-radius: 100%;
  display: flex;
  width: 70%;
  top: -10%;
  left: 70%;
  justify-content: center;
  align-items: center;
}

.user-nav li {
  position: relative;
}

.shopping-card {
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 40px;
  background-color: #228EFB;
  border-radius: 5px;
}

.fa-cart-shopping {
  color: white;
}

.res-logo-section {
  display: none;
}

.res-card {
  display: none;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .res-logo-section {
    display: block;
    width: 100%;
    background-color: #3B3B42;
    height: 80px;
  }
  .res-logo-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .res-logo-section {
    order: -1;
  }
  .res-logo-none {
    display: none;
  }
  .container-80 {
    width: 90%;
  }
  .res-user-items-none {
    display: none;
  }
  .col-8 {
    width: 80%;
  }
  .res-card {
    display: block;
  }
  header {
    height: 160px;
  }
  .navbar {
    width: 100%;
    position: absolute;
  }
}
@media screen and (min-width: 280px) and (max-width: 759px) {
  .nonwrap-row-header {
    flex-wrap: nowrap;
  }
  .res-logo-section {
    display: block;
    width: 100%;
    background-color: #3B3B42;
    height: 80px;
  }
  .res-logo-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .res-logo-section {
    order: -1;
  }
  .res-logo-none {
    display: none;
  }
  .container-80 {
    width: 90%;
  }
  .res-user-items-none {
    display: none;
  }
  .col-8 {
    width: 80%;
  }
  .res-card {
    display: block;
  }
  header {
    height: 160px;
  }
  .navbar {
    width: 100%;
    position: absolute;
  }
}
.intro-slider {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

#intro-slider {
  position: relative;
}

.slider-image img {
  width: 100%;
}

.intro-slider-wrapper {
  position: relative;
  height: -moz-max-content;
  height: max-content;
}

.slider-image {
  width: 100%;
}

.slider-text {
  position: absolute;
  top: 15%;
  left: 15%;
  max-width: 50%;
}

.slider-text-wrapper {
  width: 100%;
}

.h2-content {
  background-color: yellow;
  width: -moz-max-content;
  width: max-content;
}

.h2-content span {
  font-size: 1.5vw;
  font-weight: 900;
}

.slider-text-content h3 {
  font-size: 9vw;
  color: white;
}

.slider-text-blue-text {
  width: -moz-max-content;
  width: max-content;
}

.slider-text-blue-text h3 {
  color: rgb(64, 64, 210);
  font-size: 4vw;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .intro-slider {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
}
#sample-banners {
  height: 90px;
  width: 100%;
}

/* .sample-banners-wrapper{
    position: absolute;
    justify-content: center;
    width: 100%;
    max-width: 1300px;

    top: 85%;
    transform: translate(-50%, -50%);

    justify-content: center;

} */
.sample-banners-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  max-width: 1300px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#sample-banners {
  z-index: 2;
  position: absolute;
}

.sample-banner {
  width: 100%;
  z-index: 111;
}

.sample-banner img {
  width: 100%;
  z-index: 11;
}

#background-for-sample-banners {
  background-color: #141414;
  height: 160px;
  margin-top: -10px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  #background-for-sample-banners {
    background-color: #141414;
    height: 510px;
  }
  .sample-banners-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 1300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
    max-width: 820px;
    /* margin: auto auto; */
  }
  .col-sm-6 {
    width: 50%;
  }
  .row-wrap-res {
    flex-wrap: wrap;
  }
}
#shop-by-brand {
  background-image: url(../../images/pexels-photo-116079-1500x1000.jpg);
  height: 600px;
}

.center-div {
  height: 100%;
  margin: 0px auto;
  max-width: 1400px;
}

.video-wrapper {
  width: 100%;
}

.video-wrapper video {
  width: 100%;
}

.vidoe-card-section-wrapper {
  padding-top: 80px;
  height: 100%;
  margin: 0px auto;
  max-width: 1400px;
}

.card-logo img {
  width: 100%;
  opacity: 0.7;
  filter: grayscale(1);
}

.card-icons-section {
  justify-content: space-around;
}

.card-logo {
  width: 15%;
  height: 15%;
}

.video-devider {
  padding-right: 15px;
}

.card-icons-section {
  margin-top: 70px;
}

.vidoe-card-section-wrapper-inners {
  background-color: rgba(46, 48, 54, 0.3294117647);
  margin: 0px auto;
  padding: 20px;
}

.info-devider {
  padding: 20px;
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .col-6 {
    width: 90%;
    left: 5%;
  }
  .md-wrap-row {
    flex-wrap: wrap;
  }
  #shop-by-brand {
    height: 800px;
  }
  .vidoe-card-section-wrapper-inners {
    justify-content: center;
  }
  .video-wrapper {
    max-height: 720px;
  }
  .video-wrapper video {
    width: 100%;
    height: 100%;
    max-height: 350px;
  }
}
@media screen and (min-width: 320px) and (max-width: 759px) {
  .col-6 {
    width: 90%;
    left: 5%;
  }
  .md-wrap-row {
    flex-wrap: wrap;
  }
  #shop-by-brand {
    height: 800px;
  }
  .vidoe-card-section-wrapper-inners {
    justify-content: center;
  }
  .video-wrapper {
    max-height: 720px;
  }
  .video-wrapper video {
    width: 100%;
    height: 100%;
    max-height: 350px;
  }
  .sm-wrap-row {
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=style.css.map */